* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 60px;
}

div h2 {
  margin: 10px;
  font-size: 25px;
  text-align: center;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lives-box-wrapper,
.score-box-wrapper,
.top-score-wrapper {
  height: 60px;
  text-align: center;
  border: 2px solid black;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 20px 50px;
  padding: 7px;
}

.lives-box,
.score-box,
.top-score-display {
  text-align: left;
  width: 100px;
  border: 2px solid black;
  background-color: white;
  font-size: 35px;
  text-align: center;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  height: 930px;
  width: 930px;
  display: grid;
  background-color: red;
  grid-gap: 1px;
  grid-auto-flow: row;
  grid-template-columns: repeat(15, 60px);
  grid-template-rows: repeat(15, 60px);
  justify-content: center;
  align-content: center;
  border: black 2px solid;
}

.grid-cell {
  background-color: white;
  border: 2px solid black;
  display: flex;
}

.wall {
  background-color: blue;
}

.pac-dot {
  background-image: url("../Images/fish-icon-png.jpg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.fruit {
  background-image: url("../Images/mouse-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost-home {
  background-color: orange;
}

.pacmanClass {
  background-image: url("../Images/pac-man-icon-27.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmanClassLeft {
  background-image: url("../Images/pac-man-icon-27_LEFT.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmanClassUp {
  background-image: url("../Images/pac-man-icon-27_UP.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmanClassDown {
  background-image: url("../Images/pac-man-icon-27_DOWN.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost1 {
  background-image: url("../Images/ghost_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost2 {
  background-image: url("../Images/ghost_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost3 {
  background-image: url("../Images/ghost_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost4 {
  background-image: url("../Images/ghost_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  height: 60px;
  width: 300px;
  background-color: red;
  color: black;
  font-size: 25px;
  border: black 2px solid;
}

.controls {
  display: flex;
  justify-content: center;
  display: flex;
}

.start-button,
.restart-button {
  margin: 20px 50px;
  padding: 7px;
}
