* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 30px;
}

div h2 {
  margin: 5px;
  font-size: 15px;
  text-align: center;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lives-box-wrapper,
.score-box-wrapper,
.top-score-wrapper {
  height: 30px;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.788);
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 10px 25px;
}

.lives-box,
.score-box,
.top-score-display {
  text-align: left;
  width: 50px;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  height: 465px;
  width: 465px;
  display: grid;
  background-color: rgba(255, 0, 0, 0.788);
  grid-auto-flow: row;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  justify-content: center;
  align-content: center;
  border: black 1px solid;
}

.grid-cell {
  background-color: white;
  border: 1px solid black;
  display: flex;
}

.wall {
  background-color: rgb(24, 27, 236);
}

.pac-dot {
  background-image: url("./Images/gold-coin.jpg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.fruit {
  background-image: url("./Images/cherries.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost-home {
  background-color: orange;
}

.pacmanClass {
  background-image: url("./Images/pac-man-icon-27.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost1 {
  background-image: url("./Images/red-ghost.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost2 {
  background-image: url("./Images/yellow-ghost.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost3 {
  background-image: url("./Images/blue.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ghost4 {
  background-image: url("./Images/green.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  height: 30px;
  width: 150px;
  background-color: rgba(255, 0, 0, 0.788);
  color: black;
  font-size: 15px;
  border: black 1px solid;
}

.controls {
  display: flex;
  justify-content: center;
  display: flex;
}

.start-button,
.restart-button,
.audio-mute {
  margin: 10px 5px;
}
